<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	
	<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos  </h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/profile" method="GET">

					<p>
					<label for="nombre"> Nombre del producto: </label>
					<input type="text" name="nombre" id="nombre">
					</p>

					<p>
					<label for="imagen"> Imagen: </label>
					<input type="image" name="imagen" id="imagen">
					</p>

					<p>
					<label for="descripción"> Descripcion: </label>
					<input type="text" name="descripción" id="descripción">
					</p>

					<p>
						<input type="submit" value="Enviar">
					</p>
	
				</form>
			</h2>



			<%- include('./partials/footer') %>
</body>

</html>