<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	
<%- include('./partials/header') %>

	<!-- Novedades -->
<div class="container products-wrapper">
<div class="row">
	<div class="col-12">
		<h2 class="products-title">Resultados de búsqueda</h2>
	</div>

	Show the "ultimos" products 
	<h2 class="col-12"> <i>///////////////////////////////////////// 
	<br> Acá van los resultados de búsqueda. 


	<h2>
	<% if(resultadoSearch.length === 0 ){ %>
	
		<h2 class="producto-no-existente"> No es posible encontrar el buzo deseado. Porfavor intenta denuevo. </h2>
	
	<% } else %> 
       
		<h2 class="producto-no-existente"> Null </h2>
		
	</h2>

<%- include('./partials/footer') %>

</body>

</html>

